<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>21 Cineplux</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Delete Penjaga</h2>
                <br>
                <h4 th:text="'Yakin men-delete bioskop dengan nomor ' + ${noBioskop} + '?'"></h4>
                <form th:action="@{/bioskop/delete}" th:object="${bioskop}" method="POST">


                    <input type="hidden" th:field="*{noBioskop}"/>
                    <input type="hidden" th:field="*{namaBioskop}" />
                    <input type="hidden" th:field="*{alamatBioskop}" />
                    <input type="hidden" th:field="*{jumlahStudio}" />
                    <input type="hidden" th:field="*{waktuBuka}" />
                    <input type="hidden" th:field="*{waktuTutup}" />
                    <input type="hidden" th:field="*{listPenjaga}" />
                    <!--<input type="hidden" th:field="*{listFilm}" />-->


                    <button class="btn btn-danger" type="submit">Ya</button>
                    <a class="btn btn-primary" th:href="@{/bioskop/view(noBioskop=${noBioskop})}">Tidak</a>
                </form>

            </div>
        </div>
    </div>
</div>

</body>

</html>